<div class="modal hide" id="announcementModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Make an announcement!</h3>
  </div>
  <div class="modal-body row-fluid">
    <div class = "span6 pull-left" id = "announcement_content">
    <%= simple_form_for @announcement do |f| %>
    	<%= f.text_field :title, :placeholder => 'Title' %>
    	<%= f.text_area :content, :id => "announcement" :rows => "14", :cols => "", :placeholder => 'Content' %>
    
          </div>
      <div class = "span6 pull-right" id = "announcement_options" >     
        <%= f.input :public, :as => :radio_buttons, :item_wrapper_class => 'inline', checked: true, :label => "display on announcements page?" %>
        <h4>Mail to:</h4>
        <div id ="recipients" style ="overflow: scroll; height: 258px;">
          <ul >
            <%= f.fields_for :recipients do |n| %>
            <div><input type="checkbox" class="checkall"> Workspace</div>
            <% @companies.each do |company| %>
            <li>
              <%= n.check_box company.id, {} %><%=" "<<company.name %>
            </li>
            <% end %>  


          </ul>
         <%end%>
       </div>
       </div>
     </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
	<%= f.submit :class => "btn btn-primary" %>
	<% end %>
  </div>
</div>