<div class="modal hide" id="announcementModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Make an announcement!</h3>
  </div>
  <div class="modal-body row-fluid">
    <div class = "span6 pull-left"> 
    <%= form_for(@make_announcement) do |f| %>
    	<%= f.label :title  %>
    	<%= f.text_field :title %>
    	<%= f.label :content %>
    	<%= f.text_area :content, :rows => "4", :cols => "" %>
      </div>
      <div class = " pull-left">
        <div class = "btn-group">
          <button type = "button", class = "btn"><%= f.radio_button :public, "true", {:value => "public",:checked => true, :class => "btn"}%></button>
          <button type = "button", class = "btn"><%= f.radio_button :public, false %></button>

        </div>
        <%= f.fields_for :recipients, @make_announcement.recipients do |n| %>
          <% @companies.each do |company| %>
            <%= f.label company.name %>
            <%= n.check_box company.id, {} %>
         
          <% end %>  
       <%end%> 
       </div>


  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
	<%= f.submit :class => "btn btn-primary" %>
	<% end %>
  </div>
</div>