<% announcement ||= @announcement %>
<div class = "row-fluid" id="announcement">
	<% if !announcement.company.avatar_file_name.nil?  %>
	<div class = "span2">
		<%= image_tag announcement.company.avatar.url(:thumb) %>
	</div>
	<div class="span9">
		<h4><%= announcement.title %></h4>
		<p><%= announcement.content %></p>
		<p>	<small><%= time_ago_in_words(announcement.created_at) %> ago</small></p>
	</div>
	<% else %>
	<div class="span2">
		<h3><%= announcement.company.name %></h3>
	</div>
	<div class="span9">
		<h4><%= announcement.title %></h4>
		<p><%= announcement.content %></p>
		<p>	<small><%= time_ago_in_words(announcement.created_at) %> ago</small></p>
		</div>
	<%end %>
	<% if can? :destroy, announcement %>
	<div class=" pull-right">
		<%=  link_to raw('<i class="icon-remove"></i>'), announcement_path(announcement), :confirm => "Are you sure?", :method => :delete, :class=>"btn btn-danger" %>
	</div>
	<% end %>
</div>