
<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div id="welcome" class="span4 well">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
	<div>
		<%= link_to "forgot password?", new_password_reset_path, class: "btn " %>
	<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
	 <% end %>
			
	</div>	    
  

	 <h2>Havent Registered?</h2>
	 <p>
	 	New to the space? Haven't yet registered? Create an account to introduce yourself to others here at Tipping Point Partners! note: The email address you provide will be posted for others in the workspace to see.
	 </p>
	 <%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
</div>

  