
<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span3.5 offset3 well">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
	<div>
	<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
	 <% end %>
		<%= link_to "forgot password?", new_password_reset_path, class: "btn btn-large" %>	
	</div>	    
  </div>
<div class="span3 well">
	 <h2>new user?</h2>
	 <%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
	 <%= link_to "Sign up using LinkedIn", linked_in_path, class: "btn btn-large" %>
</div>

  