<% provide(:title,'New User') %>
<h1>New user</h1>


<%= form_for @user do |u| %>
<%= u.label :first_name %>
<%= u.text_field :first_name %>

<%= u.label :last_name %>
<%= u.text_field :last_name %>

<%= u.label :email %>
<%= u.text_field :email %>

<%= u.label :password %>
<%= u.password_field :password %>

<%= u.label :password_confirmation %>
<%= u.password_field :password_confirmation %>

<%= u.label :company_id %>
<%= u.collection_select :company_id, Company.all, :id, :name, {:include_blank => true}%>

<%= u.label :avatar, "picture" %>
<%= u.file_field :avatar %>

<%= u.submit "Create", class: "btn btn-large btn-primary" %>

<% end %>




