<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
		<h2>
			<%= Company.find(@user.company_id).name %>
		</h2>
	<ul>
		<li>email: <%= @user.email %></li>
		<li>phone: <%= @user.phone %></li>
		<li>print code: <%= @user.print_code %></li>
	</ul>
    </section>
  </aside>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
