<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="span4 well">
    <section>
      <h1>
	
		<%= image_tag @user.avatar.url %>
        <%= name(@user) %>
      </h1>
		<h2>
			<%= Company.find(@user.company_id).name %>
		</h2>
	<ul>
		<li>email: <%= @user.email %></li>
		<li>phone: <%= @user.phone %></li>

	</ul>
    </section>
  </aside>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> 

