<% provide(:title, @user.first_name) %>
<div class="container">
	<div class="row">
	  <aside class="span4 offset4 well">
	    <section>
	      <h1>
			<% if @user.avatar? %>
			<%= image_tag @user.avatar.url %>
			<% end %>
	        <%= name(@user) %>
	      </h1>
			<h2>
				<%= Company.find(@user.company_id).name %>
			</h2>
		<ul>
			<li>email: <%= @user.email %></li>
			<li>phone: <%= @user.phone %></li>

		</ul>
	    </section>
		<% if can? :update, @user %>
			<%= link_to 'Edit', edit_user_path(@user) %> 
		<% end %>
	  </aside>
	</div>


</div>