<% provide(:title, "Home") %>
<h1>Welcome <%= @user.first_name %>!</h1>

<div class="container">
	<div class="row">

		<div id="companiesCarousel" class="carousel slide span6">
			<!-- Carousel Items-->

			<div class="carousel-inner">		
					<div class="active item">
						<% if @myCompany.avatar? %>
							<%=image_tag @myCompany.avatar.url(:large) %>
						<% else %>
							<div class="hero-unit"><h2><%= @myCompany.name %></h2></div>
								

						<% end %>
					</div>
					<% @companies.each do |company| %>
						<% if company.avatar? %>
					<div class ="item"><%= image_tag company.avatar.url(:large) %></div>
						<% end %>
					<% end %>		
			</div>
			<!-- Carousel nav-->
			<!--a class="carousel-control left" href="#companiesCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#companiesCarousel" data-slide="next">&rsaquo;</a -->
		</div>
		<div class="span6">
			<a class="twitter-timeline" href="https://twitter.com/TippingPointLLC/workspace" data-widget-id="291427302154321920">Tweets from @TippingPointLLC/workspace</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		</div>
	</div>
	<%= render :partial => 'announcements/index' %>

</div>


<%= render :partial => 'announcements/create' %>


