<div id="welcome"class="span4 well">
	<%= form_for @company, :html =>{:class => "form-horizontal"} do |f| %>
	  <% if @company.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

	      <ul>
	      <% @company.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
		
		<%= f.label :name %>
		<%= f.text_field :name %>
		<br />
		<%= f.label :email_extension %>
		@<%= f.text_field :email_extension %>
		<br />
		<%= f.label :print_code %>
	    <%= f.text_field :print_code %>
	
		<%= f.label :Logo %>
		<%= f.file_field :avatar %>
	  <div class="field">
	    
	  </div>
	  <div class="field">		
	  	<%= f.label :blurb %>
		<%= f.text_area :blurb, :class =>"input-xlarge", :id=>"textarea",:rows => "3"  %>		
	  </div>


	  		<div class="btn-group">
	    		<%= f.submit :class=>"btn" %>
			
		
	<% end %>
				<%= link_to 'Cancel', companies_path, :class =>"btn" %>
				<% unless @company.new_record? %>
				<%=button_to "delete", {:action => "destroy", :id => @company.id},:confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger"  %>	
				<% end %>	
				

			</div>

</div>