<% company ||= @company %>

<div class=" well text-align: left">
<table class="table table-bordered table-striped table-condensed">

	<div class = "row-fluid">

		<div class="span2 pull-left">
			<% unless company.avatar_file_name.nil? %>
				<%= image_tag company.avatar.url(:thumb) %>	
			<% end %>
		</div>
		<div <% if company.avatar? %> class="span8"<% end %>>
				<h2>
					<%= company.name %>
				</h2>
		</div>		
		<div class="span2 pull-right">
			<% if can? :manage, company %>
			<button class="btn"><%= link_to "edit", edit_company_path(company) %></button>
			<% end %>
		</div>

	</div>
	<div class="container">
		<p><%= company.blurb %></p>
	</div>	
	
	<% company.users.sort_by!{|user| user.last_name}.each do |employee|  %>
			<% if ((cannot? :manage, company) && employee.avatar?) %>
				
				<div id="card" class="span*">
					<div ><%=link_to (image_tag employee.avatar.url(:small)),employee  %></div>
					<div  >

						<ul class="unstyled">
													
							<li><%=link_to name(employee), employee %></li>	
							<li><%=link_to list_email(employee), employee %></li>	
							<li><%=employee.phone %></li>
							
						</ul>
						
					</div>
				</div>
						
			<% else %>


				  		<tr>
			
						    <td><%= link_to name(employee), employee %></td>
						    <td><%= link_to employee.email, employee %></td>
							<td><%= employee.phone %></td>
							<% if can? :manage, company %>
								<td class="inline">	
									<%= form_for(employee, :html=>{:class=>"pull-right"}) do |e| %>	
										<div class="btn-group">		
										<%= e.collection_select :role, User::ROLES, :to_s, :humanize, {:disabled => "admin"}, {"style"=> "width:100px", "class"=>"btn"} %> 
										
										<%= e.submit "Update", :class =>"btn" %>
										<%= link_to "Remove", user_path(employee), :confirm => "Are you sure?", :method => :delete, :class=>"btn btn-danger" %>
									<% end %>
										</div>
									
									
									
								</td>
				
							<% end %>
					    </tr>
			<%end %>
			
	<% end %>
	

</table>
</div>