<% company ||= @company %>

<div class="container well text-align: center">
<table class="table table-bordered table-striped table-condensed">

	<div class = "row">
		<div class="span2 pull-left">
			<% unless company.avatar_file_name.nil? %>
				<%= image_tag company.avatar.url(:thumb) %>	
			<% end %>
		</div>
		<div class="span4 <% if company.avatar_file_name.nil? %>offset4<%else%>offset2<% end %>">
			<h2>
				<%= company.name %>
			</h2>
		</div>
		
		<div class="span2 pull-right">
			<% if can? :manage, company %>
			<button class="btn"><%= link_to "edit", edit_company_path(company) %></button>
			<% end %>
		</div>

	</div>
	<div class="container">
		<p><%= company.blurb %></p>
	</div>	
	
	<% company.users.each do |employee|  %>
			<% if ((cannot? :manage, company) && (display_avatar(employee))) %>	
				<div id="card"class="span*">
					<div ><%= display_avatar(employee)  %></div>
					<div  >
						<ul class="unstyled">
							<li><%= name(employee) %></li>	
							<li><%= employee.email %></li>	
							<li><%= employee.phone %></li>		
						</ul>
					</div>
				</div>
						
			<% else %>


				  		<tr>
			
						    <td><%= name(employee) %></td>
						    <td><%= employee.email %></td>
							<td><%= employee.phone %></td>
							<% if can? :manage, company %>
								<td class="inline">	
									<%= form_for(employee) do |e| %>				
										<%= e.collection_select :role, User::ROLES, :to_s, :humanize, :disabled => "admin" %> 
										<%=e.text_field :print_code, :cols=>40  %>
										<%= e.submit %>
									<% end %>
							
								
									<%= link_to "Remove", user_path(employee), :confirm => "Are you sure?", :method => :delete, :class=>"btn btn-danger" %>
									
								</td>
				
							<% end %>
					    </tr>
			<%end %>
			
	<% end %>
	

</table>
</div>