<% company ||= @company %>

<div class=" well text-align: left">
<table class="table table-bordered table-striped table-condensed">

	<div class = "row-fluid">

		<div class="span2 pull-left">
			<% unless company.avatar_file_name.nil? %>
				<%= image_tag company.avatar.url(:thumb) %>	
			<% end %>
		</div>
		<div <% if company.avatar? %> class="span8"<% end %>>
				<h2>
					<%= company.name %>
				
				<% if current_user.company == company %>
				</br>
				<small>print code: <%= company.print_code %></small>
				<% end %>
				</h2>
		</div>		
		<div class=" pull-right">
			<% if can? :manage, company %>
			<button class="btn"><%= link_to "edit", edit_company_path(company) %></button>
			<% end %>
		</div>
	</div>
		<p><%= company.blurb %></p>
		
	<% company.users.sort_by!{|user| user.last_name}.each do |employee|  %>
			<% if employee.avatar? %>
				
				<div id="card" class="span*">
					<div ><%=link_to (image_tag employee.avatar.url(:small)),employee,:id => "display_photo"  %>
						<% if can? :update, employee %>
						<div class="btn btn-info" id="display_photo_edit_button" data-toggle="modal" href=#<%= employee.id %>EditModal ><i class="icon-edit"></i></div>
						<% end %>
					</div>
					<div>
						<ul class="unstyled">
													
							<li><%=link_to name(employee), employee %></li>	
							<li><%=link_to list_email(employee), employee %></li>
							<% if employee.phone? %>	
							<li><%=link_to(employee.phone, employee) %></li>
							<% end %>
						</ul>
						
					</div>
				</div>
						
			<% else %>


				  		<tr>
			
						    <td><%= link_to name(employee), employee %></td>
						    <td><%= link_to employee.email, employee %></td>
							<td>
								<% if employee.phone? %>
								<%= link_to employee.phone, employee %>
								<% end %>
							</td>
							
							<% if can? :update, employee %>
							<td><div class="btn btn-info pull-right" data-toggle="modal" href=#<%= employee.id %>EditModal><i class="icon-edit"></i></div></td>
							<% end %>
					    </tr>
			<%end %>			
							<% if can? :update, employee %>
						<div class= "modal hide" id="<%= employee.id %>EditModal">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<h3><%= name(employee) %></h3>
							</div>
							<div class="modal-body">
								<%= form_for(employee, :html=>{:class=>"pull-right"}) do |e| %>	
									<div class="btn-group">		
										
									<%= e.collection_select :role, User::ROLES, :to_s, :humanize, {:disabled => "admin"}, {"style"=> "width:100px", "class"=>"btn"} %> 

									<%= e.submit "Update", :class =>"btn" %>
									<%= link_to raw('<i class="icon-remove"></i>'), user_path(employee), :confirm => "Are you sure?", :method => :delete, :class=>"btn btn-danger" %>
								<% end %>
								</div>
							</div>
						</div>			
	

							<% end %>
<% end %>	

</table>
</div>



