<% provide(:title,'Workspace') %>
<h1>The Workspace</h1>
<div class="container">
	<div class="row">
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs">
			<% title_tab_number = 1 %>
			<% @companies.each do |company| %>			
				<li><a href="#tab<%=title_tab_number%>" data-toggle="tab"><%= company.name %></a></li>
				<%title_tab_number+=1 %>
			<% end %>
			<% if current_user.is? "admin" %>
		 		<li><a href="#tab<%=title_tab_number+1%>"data-toggle="tab">New Company</a></li>
			<% end %>
		</ul>

		<div class="span10 tab-content">
			<% tab_number = 1 %>
			<% @companies.each do |company| %>
				<div class="tab-pane active" id="tab<%=tab_number%>" >
					<p><%= render :partial =>'show', :locals => {:company => company} %></p>
				</div>
				<% tab_number+=1 %>
			<% end %>
			<% if current_user.is? "admin"
				@company = Company.new%>
				<div class="tab-pane acive" id="tab<%=tab_number+1%>">
					<p><%= render :partial =>'form', :object => @company %></p>
				</div>
			<% end %>
		</div>
	</div>
</div>







