<% provide(:title,'Companies') %>
<h1>The Incubator</h1>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">All Companies</a></li>
		<% @companies.each do |company| %>
		<li><a href="#tab<%= company.id+1 %>" data-toggle="tab"><%= company.name %></a></li>
		<% end %>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<%= render :partial =>'show', :collection => @companies, :as => :company %>
		</div>
		<% @companies.each do |company| %>
		<div class="tab-pane active" id="tab<%= company.id+1 %>" >
			<p><%= render :partial =>'show', :locals => {:company => company} %></p>
		</div>
		<% end %>
	</div>
</div>
<button class="btn"><%= link_to "New Company!", new_company_path %></button>






