<header class="navbar navbar-fixed-top">

	<div class="navbar-inner">
		<div class="container">
			<nav>
				<ul class="nav pull-left">
					<li><%= link_to "Tipping Point Partners", home_path %></li>
				</ul>
				<ul class="nav pull-right">
					<% if signed_in? %>			
					<li><%= link_to "Workspace", companies_path %></li>
					<li><%= link_to "FAQs", faqs_path %></li>
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Me <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profile", current_user %></li>
							<li><%= link_to "My Company", my_company_path %></li>
							<li class="divider"></li>
							<li>
							<%= link_to"Sign out", signout_path, method: "delete" %>
							</li>
						</ul>
					</li>
					<% end %>
				</ul>
				
				
			</nav>
		</div>
	</div>
</header>