<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<ul class="nav pull-left">
					<li><%= link_to "Tipping Point Partners", home_path %></li>
				</ul>
				<ul class="nav pull-right">
					<% if signed_in? %>					
					<li><%= link_to "My Company", company_path %></li>
					<li><%= link_to "Workspace", workspace_path %></li>
					<li><%= link_to "FAQs", faqs_path %></li>
					<li><%= link_to "Me", me_path %></li>
					<% else %>
					<li><%= link_to "sign in", signin_path %></li>
					<% end %>
				</ul>
				
				
			</nav>
		</div>
	</div>
</header>